---
import "../styles/styles.css";
const title = "Blog Preview Card Component | Frontend Mentor";
const description = "Blog Preview Card Component built with Astro and Tailwind CSS v4 alpha. Designed by Frontend Mentor.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dvivrw9ml/image/upload/f_auto,q_auto/og-banner-plain-no-tag_jh0wrb"
    />

    <meta name="twitter:site" content="@brianmpdotdev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dvivrw9ml/image/upload/f_auto,q_auto/og-banner-plain-no-tag_jh0wrb"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Figtree", sans-serif;
      }
    </style>
  </head>
  <body class="bg-bpcard-brand-surface"> </body>
</html>
