---
import '../styles/styles.css';
const title = 'Frontend Mentor Challenges';
const description =
  'Frontend Mentor Challenges built with Astro and Tailwind CSS v4 alpha.';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />

    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta
      property='og:image'
      content='https://res.cloudinary.com/dvivrw9ml/image/upload/f_auto,q_auto/og-banner-plain-no-tag_jh0wrb'
    />

    <meta name='twitter:site' content='@brianmpdotdev' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta
      name='twitter:image'
      content='https://res.cloudinary.com/dvivrw9ml/image/upload/f_auto,q_auto/og-banner-plain-no-tag_jh0wrb'
    />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <style></style>
  </head>
  <body class='bg-stone-300 p-24'>
    <main class='text-center text-3xl'>
      <ul class='flex flex-col gap-4'>
        <li class='hover:underline'>
          <a href='/profile-card'>Profile Card component </a>
        </li>
        <li class='hover:underline'>
          <a href='/blog-preview-card'>Blog Preview Card component</a>
        </li>
        <li class='hover:underline'>
          <a href='/social-links'>Social Links Card component</a>
        </li>
        <li class='hover:underline'>
          <a href='/faq-accordion'>FAQs Accordion component</a>
        </li>
        <li class='hover:underline'>
          <a href='/huddle'>Huddle Landing Page</a>
        </li>
      </ul>
    </main>
  </body>
</html>
