---
import "../styles/styles.css";
import imageVictor from "../assets/image-victor.jpg";
import bgPatternCard from "../assets/bg-pattern-card.svg";
import bgPatternTop from "../assets/bg-pattern-top.svg";
import bgPatternBottom from "../assets/bg-pattern-bottom.svg";

const details = [
  {
    title: "Followers",
    value: "80K",
  },
  {
    title: "Likes",
    value: "803K",
  },
  {
    title: "Photos",
    value: "1.4K",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Profile Card Component</title>
    <meta name="description" content="Profile Card Component implementation with Astro and Tailwind v4 alpha. Design by Frontend Mentor." />

    <meta property="og:title" content="Profile Card Component" />
    <meta property="og:description" content="Profile Card Component implementation with Astro and Tailwind v4 alpha. Design by Frontend Mentor." />

    <meta name="twitter:title" content="Profile Card Component" />
    <meta name="twitter:description" content="Profile Card Component implementation with Astro and Tailwind v4 alpha. Design by Frontend Mentor." />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      :root {
        font-size: 18px;
      }
      body {
        font-family: "Kumbh Sans", sans-serif;
      }
      ._card {
        display: grid;
        grid-template-rows: 1.35fr 1.5fr 1fr;
      }

      p {
        text-align: center;
      }
    </style>
  </head>
  <body class="bg-brand-surface">
    <div class="absolute -z-10 h-screen w-full overflow-hidden">
      <img
        src={bgPatternTop.src}
        alt=""
        class="absolute -top-[70vh]  -left-[30vw] w-8/12"
      />
      <img
        src={bgPatternBottom.src}
        alt=""
        class="absolute -bottom-[70vh] -right-[30vw]  w-8/12"
      />
    </div>

    <main class="mx-auto grid min-h-screen max-w-prose place-content-center">
      <div
        class="_card bg-brand-surface max-sm:max-w-11/12 w-80 overflow-hidden rounded-lg bg-white shadow shadow-xl shadow-gray-500"
      >
        <div class="relative w-full bg-slate-300">
          <img
            src={bgPatternCard.src}
            alt=""
            class="absolute top-0 left-0 w-full"
          />
          <img
            src={imageVictor.src}
            alt="Victor Crest profile picture"
            class="absolute top-20 left-1/2 w-24 -translate-x-1/2 transform rounded-full border-6 border-white"
          />
        </div>
        <div class="flex flex-col items-center justify-end pb-4">
          <p class="">Victor Crest <span class="text-brand-text-2">26</span></p>
          <p class="text-sm text-brand-text-2">London</p>
        </div>
        <ul
          class="flex flex-row items-center justify-evenly border-t border-r-0 border-b-0 border-l-0 border-t-gray-200 p-6"
        >
          {
            details.map((detail) => (
              <li>
                <p class="text-xl font-bold">{detail.value}</p>
                <p class="text-brand-text-2 text-xs tracking-widest">
                  {detail.title}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </body>
</html>
